
<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<!--    <servlet>
        <servlet-name>InsertEmployee</servlet-name>
        <servlet-class>ir.ac.sbu.testsimplesql2.EmployeeInsertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertEmployee</servlet-name>
        <url-pattern>/InsertEmployee</url-pattern>
    </servlet-mapping>-->
</web-app>
